<h1>New Post</h1>
<%= form_for :post, url: posts_path do |p| %>
	<p>
		<%= p.label :photo %><br>
		<%= p.file_field :photo %></p>

	<p>
		<%= p.label :title %><br>
		<%= p.text_field :title %>
	</p>
	<p>
		<%= p.label :text %><br>
		<%= p.text_area :text %>
	</p>
	<p>
		<%= p.submit  %>
	</p>
<% end %>